/* Istniejące CSS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Magnolia);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.stages {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.stages button {
  border-radius: 50%;
  background: transparent;
  width: 40px;
  height: 40px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid var(--White);
  color: var(--White);
  font-size: 17px;
  font-weight: 500;
}

.stepThreeContent,
.stepFourContent,
.stepFiveContent {
  display: none;
}

.stepOneContent {
  display: none;
  justify-content: center;
  flex-direction: column;
  background-color: var(--White);
  width: 90%;
  padding: 30px;
  border-radius: 10px;
  margin-top: -150px;
}

.stepTwoContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--White);
  width: 90%;
  padding: 30px;
  border-radius: 10px;
}

.stepOneContent h2,
.stepTwoContent h2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: var(--Marine-blue);
}

.stepOneContent p {
  color: var(--Cool-gray);
  font-size: 19px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.stepTwoContent p {
  color: var(--Cool-gray);
  font-size: 19px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.stepTwoDescription {
  margin-bottom: 20px;
  margin-top: 20px;
}
.stepOneContent h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--Marine-blue);
  margin-bottom: 10px;
}

.stepTwoContent h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: var(--Marine-blue);
  margin-bottom: 10px;
}

.arcade,
.advanced,
.pro {
  border: 1px solid var(--Light-gray);
  border-radius: 7px;
  margin-top: 15px;
  padding: 17px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.arcade img,
.advanced img,
.pro img {
  height: 50px;
  margin-right: 20px;
}

.desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc p {
  font-size: 17px;
}

.stepTwoFooter {
  background-color: var(--Magnolia);
  padding: 20px;
  margin-top: 30px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stepOneContent h5:nth-of-type(2),
.stepOneContent h5:nth-of-type(3) {
  margin-top: 25px;
}

.stepOneContent input {
  height: 50px;
  border: 1px solid var(--Cool-gray);
  border-radius: 5px;
  padding-left: 15px;
  color: var(--Cool-gray);
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

footer {
  background-color: var(--White);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

footer button {
  background-color: var(--Marine-blue);
  color: var(--Magnolia);
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.goBackBtn {
  background: transparent;
  color: var(--Cool-gray);
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--Marine-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;

  background-color: var(--Marine-blue);
}

.slider.round:before {
  border-radius: 50%;
}

.yearlyText,
.monthlyText {
  font-weight: 700;
}

.active {
  color: var(--Marine-blue) !important;
}

.planActive {
  border: 2px solid var(--Purplish-blue);
  background-color: var(--Magnolia) !important;
}
